<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style media="screen">
nav {
  color: #e1e2e3;
}
.navbar-brand img{
  height: 35px;
}
.thumbnail img {
  width: 350px;
  height: 170px;
}
body {
  background: url("images/innerbg.jpg");
}
</style>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a href="adminhome" class="navbar-brand"><img src="images/logofinal.png" alt="" class="img-fluid"> Altrueon</a>
    <div class="row d-flex justify-content-end mx-2">
      <h4>Hi Jon!<a href="logout" class="btn btn-sm p-0 btn-secondary ml-3">Logout</a></h4>
    </div>
  </nav>
  <div class="container">
    <a href="adminView" class="btn btn-success">Mails</a>
    <a href="ClothesSummary" class="btn btn-primary">Clothes</a>
    <a href="MedicineSummary" class="btn btn-danger">Medicines</a>
    <a href="FoodSummary" class="btn btn-warning">Food</a>
    <a href="userdetails" class="btn btn-secondary">User Details</a>
  </div>

</body>
</html>
