<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <!-- Custom CSS -->

    <title>Clothes</title>

    <style media="screen">
      table input {
        width: 500px;
      }
      #other {
        color: green;
        font-style: italic;
      }
      nav {
        color: #e1e2e3;
      }
      .navbar-brand img{
        height: 35px;
      }
      body {
        background: url("images/innerbg.jpg");
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a href="userhome" class="navbar-brand"><img src="images/logofinal.png" alt="" class="img-fluid"> Altrueon</a>
      <div class="row d-flex justify-content-end mx-2">
        <h4>Hi <%= username.toUpperCase() %>!<a href="mycontributions" class="btn btn-sm p-0 btn-primary ml-3">My Contributions</a><a href="logout" class="btn btn-sm p-0 btn-secondary ml-3">Logout</a></h4>
      </div>
    </nav>
    <% if (err === 'success') { %>
      <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong>Your ID number is <%= id %>. Your contributions will be collected shortly.
      </div>
    <% } %>
    <div class="d-flex justify-content-center align-items-center">
    <form  action="/clothes" method="post">
      <div class="card">
        <h5 class="card-header text-center">Clothes</h5>
        <div class="card-body">
          <h5 class="card-title">Fill out the quantities of items you wish to contribute. Mention others if any, in the <span id="other">Other</span> field.</h5>
          <div class="d-flex justify-content-center">
          <table border="1px">
            <tr><th>Item</th><th>Quantity</th></tr>
            <tr>
              <td>T-shirt</td>
              <td><input type="number" name="tshirt"></td>
            </tr>
            <tr>
              <td>Shirt</td>
              <td><input type="number" name="shirt"></td>
            </tr>
            <tr>
              <td>Pant</td>
              <td><input type="number" name="pant"></td>
            </tr>
            <tr>
              <td>Sweater/Jacket</td>
              <td><input type="number" name="sweater"></td>
            </tr>
            <tr>
              <td>Saree</td>
              <td><input type="number" name="saree"></td>
            </tr>
            <tr>
              <td>Kurti</td>
              <td><input type="number" name="kurti"></td>
            </tr>
            <tr>
              <td>Kids Dress</td>
              <td><input type="number" name="kids dress"></td>
            </tr>
            <tr>
              <td><input type="text" name="othername" placeholder="Other"></td>
              <td><input type="number" name="othervalue"></td>
            </tr>
          </table>
        </div>
      </div>
        <div class="card-footer d-flex justify-content-around">
        <input type="submit" name="submit" value="Submit" class="btn btn-success my-3">
        <a href="contribute" class="btn btn-secondary my-3">Back</a>
      </div>
        </div>
      </div>
    </form>
  </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
